DATABASE_URL=your_database_url
SECRET=your_secret_key
BASE_URL=your_base_url
PORT=your_port_number
CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API=your_cloudinary_api_key
CLOUDINARY_SECRET=your_cloudinary_api_secret
