<nav class="navbar nav-btn navbar-fixed-top navbar-expand-lg bg-body-tertiary bg-info.bg-gradient ">
  <div class="container-fluid navbarBg">
    <div>
      <a class="navbar-brand" href="/artistans/v2/home" style="color: #0D47A1;">Artistans</a>
    </div>
    <div>
      <a class="nav-link" href="/artistans/v2/post" style="color: #0D47A1; font-size: 16px;">Upload Art</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <% if(currUser) {%>
          <a class="nav-link" href="/artistans/v2/logout" style="color: #0D47A1; font-size: 17px;">Logout</a>
          <%}%>
            <% if(!currUser) {%>
              <a class="nav-link" href="/artistans/v2/login" style="color: #0D47A1; font-size: 17px;">Login</a>
              <a class="nav-link" href="/artistans/v2/signup" style="color: #0D47A1; font-size: 17px;">Singup</a>
              <%}%>

      </div>
    </div>
  </div>
</nav>

