<%- layout('layout/boilerPlate') %>

<form class="needs-validation" novalidate>
  <div class="row postRow offset-2">
    <div class="mb-3 col-5">
      <label for="name" class="form-label">Enter your full name</label>
      <input type="text" name="name" class="form-control" required>
      <div class="invalid-feedback">
        Please Enter your Fullname!
      </div>
    </div>
    <div class="mb-3 col-5">
      <label for="email" class="form-label">Email</label>
      <input type="email" name="email" class="form-control" required>
      <div class="invalid-feedback">
        Please enater your Email!
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-4">
        <label for="pin" class="form-label">Pin Code</label>
        <input type="number" name="pin" class="form-control" required>
        <div class="invalid-feedback">
          Please Give a Pin code!
        </div>
      </div>
      <div class="mb-3 col-8">
        <label for="state" class="form-label">State</label>
        <input type="text" name="state" class="form-control" required style="width: 60% !important;">
        <div class="invalid-feedback">
          Please Give a State name!
        </div>
      </div>
    </div>
    <div class="mb-3 col-5">
      <label for="address" class="form-label">Address</label>
      <input type="text" name="address" class="form-control" required>
      <div class="invalid-feedback">
        Please Give a valid address!
      </div>
    </div>
    <div class="mb-3 col-5">
      <label for="discription" class="form-label">Description</label>
      <textarea class="form-control" name="description" rows="3" required></textarea>
      <div class="invalid-feedback">
        Description can not be empty!
      </div>
    </div>
    <div class="submitBtn">
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>